applications/backend/serverless.yml
service:
  name: ${opt:appName, 'football-alerts'}
  publish: false

provider:
  name: aws
  runtime: nodejs10.x
  region: ${opt:region, 'eu-west-1'}
  stage: ${opt:stage, 'local'}
  environment:
    STAGE: ${self:provider.stage}
    NODE_ENV: ${env:NODE_ENV, 'production'}

package:
  individually: true

plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters
  - serverless-appsync-plugin
  - serverless-webpack
  - '@football-alerts/serverless-aws-exports'

custom:
  prefix: ${self:service}-${self:provider.stage}

  appSync:
    -
      name: ${self:custom.prefix}-private
      authenticationType: AMAZON_COGNITO_USER_POOLS
      userPoolConfig:
        awsRegion: ${self:provider.region}
        defaultAction: ALLOW
        userPoolId: !Ref CognitoUserPool
      mappingTemplates:
        # Clubs
        -
          dataSource: Clubs
          type: Mutation
          field: createClub
          request: clubs/Mutation.createClub.req.vtl
          response: clubs/Mutation.createClub.res.vtl
        -
          dataSource: Clubs
          type: Mutation
          field: deleteClub
          request: clubs/Mutation.deleteClub.req.vtl
          response: clubs/Mutation.deleteClub.res.vtl
        -
          dataSource: Clubs
          type: Mutation
          field: updateClub
          request: clubs/Mutation.updateClub.req.vtl
          response: clubs/Mutation.updateClub.res.vtl
        -
          dataSource: Clubs
          type: Query
          field: getClub
          request: clubs/Query.getClub.req.vtl
          response: clubs/Query.getClub.res.vtl
        -
          dataSource: Clubs
          type: Query
          field: getClubs
          request: clubs/Query.getClubs.req.vtl
          response: clubs/Query.getClubs.res.vtl

        # Settings
        -
          dataSource: Settings
          type: Mutation
          field: createSetting
          request: settings/Mutation.createSetting.req.vtl
          response: settings/Mutation.createSetting.res.vtl
        -
          dataSource: Settings
          type: Mutation
          field: deleteSetting
          request: settings/Mutation.deleteSetting.req.vtl
          response: settings/Mutation.deleteSetting.res.vtl
        -
          dataSource: Settings
          type: Mutation
          field: updateSetting
          request: settings/Mutation.updateSetting.req.vtl
          response: settings/Mutation.updateSetting.res.vtl
        -
          dataSource: Settings
          type: Query
          field: getSetting
          request: settings/Query.getSetting.req.vtl
          response: settings/Query.getSetting.res.vtl
        -
          dataSource: Settings
          type: Query
          field: getSettings
          request: settings/Query.getSettings.req.vtl
          response: settings/Query.getSettings.res.vtl

        # Sources
        -
          dataSource: Sources
          type: Mutation
          field: createSource
          request: sources/Mutation.createSource.req.vtl
          response: sources/Mutation.createSource.res.vtl
        -
          dataSource: Sources
          type: Mutation
          field: deleteSource
          request: sources/Mutation.deleteSource.req.vtl
          response: sources/Mutation.deleteSource.res.vtl
        -
          dataSource: Sources
          type: Mutation
          field: updateSource
          request: sources/Mutation.updateSource.req.vtl
          response: sources/Mutation.updateSource.res.vtl
        -
          dataSource: Sources
          type: Query
          field: getSource
          request: sources/Query.getSource.req.vtl
          response: sources/Query.getSource.res.vtl
        -
          dataSource: Sources
          type: Query
          field: getSources
          request: sources/Query.getSources.req.vtl
          response: sources/Query.getSources.res.vtl
      dataSources:
        -
          type: AMAZON_DYNAMODB
          name: Articles
          description: Articles table
          config:
            tableName: !Ref ArticlesTable
            serviceRoleArn: !GetAtt AppSyncDynamoDbServiceRole.Arn
        -
          type: AMAZON_DYNAMODB
          name: Clubs
          description: Clubs table
          config:
            tableName: !Ref ClubsTable
            serviceRoleArn: !GetAtt AppSyncDynamoDbServiceRole.Arn
        -
          type: AMAZON_DYNAMODB
          name: Settings
          description: Settings table
          config:
            tableName: !Ref SettingsTable
            serviceRoleArn: !GetAtt AppSyncDynamoDbServiceRole.Arn
        -
          type: AMAZON_DYNAMODB
          name: Sources
          description: Sources table
          config:
            tableName: !Ref SourcesTable
            serviceRoleArn: !GetAtt AppSyncDynamoDbServiceRole.Arn

  cognito-transformations:
    develop: Develop
    production: Production

  output:
    files:
      - ../admin/src/aws-exports.js
    graphQlApiUrlName: FootballalertsdevelopprivateGraphQlApiUrl

  webpack:
    includeModules: true

functions:
  ImportDownloadImages:
    handler: src/handlers/import/download-images.handler
    role: ImportDownloadImagesRole
    environment:
      BUCKET: !Ref ArticleImportsBucket

  ImportGetArticles:
    handler: src/handlers/import/get-articles.handler
    role: ImportGetArticlesRole
    environment:
      BUCKET: !Ref ArticleImportsBucket

  ImportGetDownloadedArticles:
    handler: src/handlers/import/get-downloaded-articles.handler
    role: ImportGetDownloadedArticlesRole
    environment:
      BUCKET: !Ref ArticleImportsBucket

  ImportGetImages:
    handler: src/handlers/import/get-images.handler
    role: ImportGetImagesRole
    environment:
      BUCKET: !Ref ArticleImportsBucket
      TABLE_NAME: !Ref SettingsTable

  ImportRemoveDuplicates:
    handler: src/handlers/import/remove-duplicates.handler
    role: ImportRemoveDuplicatesRole
    environment:
      BUCKET: !Ref ArticleImportsBucket
      TABLE_NAME: !Ref ArticlesTable

#  ImportResizeImage:
#    handler: src/handlers/import/resize-image.handler
#    role: ImportResizeImageRole
#    environment:
#      ASSET_BUCKET: !Ref AssetsBucket
#      IMPORT_BUCKET: !Ref ArticleImportsBucket

  ImportSelectSources:
    handler: src/handlers/import/select-sources.handler
    role: ImportSelectSourcesRole
    environment:
      TABLE_NAME: !Ref SourcesTable

  UsersRegister:
    handler: src/handlers/users/register.handler
    role: UsersRegisterRole
    environment:
      TABLE_NAME: !Ref UsersTable

stepFunctions:
  stateMachines:
    importArticles:
      name: ${self:custom.prefix}-import-articles
      definition:
        Comment: Imports articles from RSS feeds
        StartAt: SelectSources
        States:
          SelectSources:
            Type: Task
            Resource: !GetAtt ImportSelectSourcesLambdaFunction.Arn
            Next: GetArticles

          GetArticles:
            Type: Task
            Resource: !GetAtt ImportGetArticlesLambdaFunction.Arn
            Next: IsImportComplete

          IsImportComplete:
            Type: Choice
            Choices:
              -
                Variable: $.continue
                BooleanEquals: false
                Next: GetArticles
            Default: GetDownloadedArticlesForDuplicates

          GetDownloadedArticlesForDuplicates:
            Type: Task
            Resource: !GetAtt ImportGetDownloadedArticlesLambdaFunction.Arn
            Next: RemoveDuplicates

          RemoveDuplicates:
            Type: Task
            Resource: !GetAtt ImportRemoveDuplicatesLambdaFunction.Arn
            Next: IsDuplicateRemovalComplete

          IsDuplicateRemovalComplete:
            Type: Choice
            Choices:
              -
                Variable: $.continue
                BooleanEquals: false
                Next: RemoveDuplicates
            Default: GetDownloadedArticlesForImages

          GetDownloadedArticlesForImages:
            Type: Task
            Resource: !GetAtt ImportGetDownloadedArticlesLambdaFunction.Arn
            Next: DownloadImages

          DownloadImages:
            Type: Task
            Resource: !GetAtt ImportDownloadImagesLambdaFunction.Arn
            Next: IsDownloadImagesComplete

          IsDownloadImagesComplete:
            Type: Choice
            Choices:
              -
                Variable: $.continue
                BooleanEquals: false
                Next: DownloadImages
            Default: ImportGetImages

          ImportGetImages:
            Type: Task
            Resource: !GetAtt ImportGetImagesLambdaFunction.Arn
            Next: Done

          Done:
            Type: Pass
            End: true

resources:
  Resources:
    # Cognito
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:custom.prefix}-user-pool
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        Schema:
          -
            Name: given_name
            AttributeDataType: String
            Mutable: true
            Required: true
          -
            Name: family_name
            AttributeDataType: String
            Mutable: true
            Required: true
          -
            Name: twitter_handle
            AttributeDataType: String
            Mutable: true
            Required: false
          -
            Name: website
            AttributeDataType: String
            Mutable: true
            Required: false
        UsernameAttributes:
          - email
        LambdaConfig:
          PostAuthentication: !GetAtt UsersRegisterLambdaFunction.Arn
          PostConfirmation: !GetAtt UsersRegisterLambdaFunction.Arn

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:custom.prefix}-user-pool-client
        UserPoolId: !Ref CognitoUserPool

    CognitoIdentityPool:
      Type: AWS::Cognito::IdentityPool
      Properties:
        IdentityPoolName: FootballAlerts${self:custom.cognito-transformations.${self:provider.stage}}IdentityPool
        AllowUnauthenticatedIdentities: false
        CognitoIdentityProviders:
          -
            ClientId: !Ref CognitoUserPoolClient
            ProviderName: !GetAtt CognitoUserPool.ProviderName

    CognitoIdentityPoolRoles:
      Type: AWS::Cognito::IdentityPoolRoleAttachment
      Properties:
        IdentityPoolId: !Ref CognitoIdentityPool
        Roles:
          authenticated: !GetAtt CognitoAuthRole.Arn
          unauthenticated: !GetAtt CognitoUnauthRole.Arn

    CognitoAuthRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-cognito-auth-role
        Path: /
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Federated: cognito-identity.amazonaws.com
              Action:
                - sts:AssumeRoleWithWebIdentity
              Condition:
                StringEquals:
                  "cognito-identity.amazonaws.com:aud": !Ref CognitoIdentityPool
                "ForAnyValue:StringLike":
                  "cognito-identity.amazonaws.com:amr": authenticated
        Policies:
          -
            PolicyName: ${self:custom.prefix}-cognito-auth-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - mobileanalytics:PutEvents
                    - cognito-sync:*
                    - cognito-identity:*
                  Resource: '*'
                -
                  Effect: Allow
                  Action:
                    - execute-api:Invoke
                  Resource: '*'

    CognitoUnauthRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-cognito-unauth-role
        Path: /
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Federated: cognito-identity.amazonaws.com
              Action:
                - sts:AssumeRoleWithWebIdentity
              Condition:
                StringEquals:
                  "cognito-identity.amazonaws.com:aud": !Ref CognitoIdentityPool
                "ForAnyValue:StringLike":
                  "cognito-identity.amazonaws.com:amr": unauthenticated
        Policies:
          -
            PolicyName: ${self:custom.prefix}-cognito-unauth-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - mobileanalytics:PutEvents
                    - cognito-sync:*
                    - cognito-identity:*
                  Resource: '*'

    # DynamoDB
    ArticlesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.prefix}-articles
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
          -
            AttributeName: link
            AttributeType: S
          -
            AttributeName: rangeKey
            AttributeType: S
        KeySchema:
          -
            AttributeName: link
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          -
            IndexName: id-rangeKey-index
            KeySchema:
              -
                AttributeName: id
                KeyType: HASH
              -
                AttributeName: rangeKey
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1

    ClubsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.prefix}-clubs
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    SettingsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.prefix}-settings
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
          -
            AttributeName: type
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
          -
            AttributeName: type
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    SourcesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.prefix}-sources
        AttributeDefinitions:
          -
            AttributeName: clubId
            AttributeType: S
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
          -
            AttributeName: clubId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.prefix}-users
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    # IAM
    AppSyncDynamoDbServiceRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-appsync-dynamodb-service-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - appsync.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-appsync-dynamodb-service-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - dynamodb:DeleteItem
                    - dynamodb:GetItem
                    - dynamodb:PutItem
                    - dynamodb:Query
                    - dynamodb:Scan
                    - dynamodb:UpdateItem
                  Resource:
                    - !GetAtt ArticlesTable.Arn
                    - !GetAtt ClubsTable.Arn
                    - !GetAtt SettingsTable.Arn
                    - !GetAtt SourcesTable.Arn

    ImportDownloadImagesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-download-images-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-import-download-images-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - s3:GetObject
                    - s3:PutObject
                  Resource:
                    - !Join
                      - ''
                      - - !GetAtt ArticleImportsBucket.Arn
                        - '/*'

    ImportGetArticlesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-get-articles-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          - PolicyName: ${self:custom.prefix}-import-get-articles-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - s3:PutObject
                  Resource:
                    - !Join
                      - ''
                      - - !GetAtt ArticleImportsBucket.Arn
                        - '/*'

    ImportGetDownloadedArticlesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-get-downloaded-articles-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-import-get-downloaded-articles-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - s3:ListBucket
                  Resource:
                    - !GetAtt ArticleImportsBucket.Arn

    ImportGetImagesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-get-images-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-import-get-images-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - dynamodb:Scan
                  Resource:
                    - !GetAtt SettingsTable.Arn
                -
                  Effect: Allow
                  Action:
                    - s3:ListBucket
                  Resource:
                    - !GetAtt ArticleImportsBucket.Arn

    ImportRemoveDuplicatesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-remove-duplicates-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-import-remove-duplicates-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - dynamodb:BatchGetItem
                  Resource:
                    - !GetAtt ArticlesTable.Arn
                -
                  Effect: Allow
                  Action:
                    - s3:GetObject
                    - s3:PutObject
                  Resource:
                    - !Join
                      - ''
                      - - !GetAtt ArticleImportsBucket.Arn
                        - '/*'

    ImportResizeImageRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-resize-image-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-import-resize-image-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - s3:GetObject
                  Resource:
                    - !Join
                      - ''
                      - - !GetAtt ArticleImportsBucket.Arn
                        - '/*'
                -
                  Effect: Allow
                  Action:
                    - s3:PutObject
                  Resource:
                    - !Join
                      - ''
                      - - !GetAtt AssetsBucket.Arn
                        - '/*'

    ImportSelectSourcesRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-import-select-sources-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-import-select-sources-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - dynamodb:Scan
                  Resource:
                    - !GetAtt SourcesTable.Arn

    UsersRegisterLambdaFunctionInvokePermission:
      Type: AWS::Lambda::Permission
      Properties:
        Principal: cognito-idp.amazonaws.com
        FunctionName: !GetAtt UsersRegisterLambdaFunction.Arn
        SourceArn: !GetAtt CognitoUserPool.Arn
        Action: lambda:InvokeFunction

    UsersRegisterRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:custom.prefix}-users-register-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            -
              Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
        Policies:
          -
            PolicyName: ${self:custom.prefix}-users-register-role-policy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -
                  Effect: Allow
                  Action:
                    - dynamodb:UpdateItem
                  Resource:
                    - !GetAtt UsersTable.Arn

    # S3
    ArticleImportsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.prefix}-article-imports

    AssetsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.prefix}-assets

  Outputs:
    IdentityPoolId:
      Value: !Ref CognitoIdentityPool
    Region:
      Value: ${self:provider.region}
    UserPoolClientId:
      Value: !Ref CognitoUserPoolClient
    UserPoolId:
      Value: !Ref CognitoUserPool
